
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div>
        <h1>Bienvenue sur ma liste de lecture</h1>
        <fieldset style="text-align:right">
            <legend>Mes livres en cours</legend>
            <table style="text-align:left" class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de début</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail")">
                                <i class="fa fa-book "></i>
                            </a>

                        </td>
                        <td>Mon premier titre</td>
                        <td>Mon premier auteur</td>
                        <td>18/02/2017</td>
                        <td>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i>  </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="@Url.Action("Detail")"><i class="fa fa-book "></i></a>
                        </td>
                        <td>Mon second titre</td>
                        <td>Toto</td>
                        <td>21/01/2018</td>
                        <td>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i></a>
                            <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-success">Créer un nouveau livre</button>

        </fieldset>

        <fieldset>
            <legend>Mes livres lus</legend>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de début</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail")"><i class="fa fa-book "></i></a>
                        </td>
                        <td>Mon premier titre</td>
                        <td>Mon premier auteur</td>
                        <td>18/02/2017</td>
                        <td>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="@Url.Action("Detail")"><i class="fa fa-book "></i></a>
                        </td>
                        <td>Mon second titre</td>
                        <td>Toto</td>
                        <td>21/01/2018</td>
                        <td>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
