@model ListeLectureJCC.Models.DetailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Détail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    @if (Model != null)
    {
        <div>
            <h1>@Model.Titre</h1>
            <h3>@Model.Auteur</h3>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        Date de début de lecture
                    </div>
                    <div class="col-5">
                        @Model.DateDeDebutDeLecture.ToString("dd/MM/yyyy")
                    </div>
                </div>
                @if (Model.DateDeFinDeLecture.HasValue)
                {
                    <div class="row">
                        <div class="col-3">
                            Date de fin de lecture
                        </div>
                        <div class="col-5">
                            @Model.DateDeFinDeLecture.Value.ToShortDateString()
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-5">
                            Livre en cours de lecture
                        </div>
                    </div>
                }


                <div class="row">
                    <div class="col-3">
                        Note
                    </div>
                    <div class="col-5">

                        @for (int i = 1; i <= 5; i++)
                        {
                            if (Model.Note >= i)
                            {
                                <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("ConfirmationNotation")"><i class="fa fa-star-o"></i></a>
                            }
                        }

                    </div>
                </div>
            </div>
            <a href="@Url.Action("Accueil")" class="btn btn-primary btn-lg">Revenir à l'accueil</a>
            <a href="@Url.Action("ConfirmationLecture")" class="btn btn-success btn-lg">Finaliser la lecture</a>

        </div>
    }
    else
    {
        <h1>Aucun livre trouvé</h1>
    }
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
